@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);

.page {
  font: 16px/1.5 Inter, Arial, sans-serif;
  margin: auto;
  width: 1024px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #f4f4f3;
}

.header {
  width: 100%;
  display: flex;
  color: #0374c8;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 0.2rem 0 rgb(50 50 50 / 10%);
}
.header__title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
}
.heeder__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0 0;
  color: black;
}
.body {
  display: flex;
  flex-direction: column;
}
.nav {
  margin: 1.5rem auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list {
  padding: 0;
  margin: auto;
  list-style: none;
}
.nav__link {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0374c8;
}
.nav__link_activ {
  text-decoration: underline;
}
.nav__item {
  padding-right: 1rem;
  display: inline;
}
.nav__item:last-child {
  padding: 0;
}

.info {
  width: 80%;
  margin: 5%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.info__title {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.1rem;
  font-weight: 700;
}
.info__list {
  padding: 0;
}
.info__item {
  padding: 0;
  list-style: none;
}
.footer {
  display: flex;
  padding: 0.5rem 1.5rem;
  color: #0374c8;
  background-color: #ffffff;
  box-shadow: 0 -0.2rem 0.2rem 0 rgb(50 50 50 / 10%);
}
.footer__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 900;
}
.footer__link {
  padding-left: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}
.footer__logo {
  padding-right: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
}
@media screen and (max-width: 1016px) {
  .page {
  width: 768px;
  }
}
@media screen and (max-width: 760px) {
  .page {
    font: 12px Inter, Arial, sans-serif;
  width: 320px;
  }
  .header__title {
    font-size: 2rem;
    font-weight: 900;
    padding-left: 1rem;
  }
  .heeder__subtitle {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem 0 0;
  }
  .nav {
    margin: 0.75rem auto;
    padding: 0;
  }
  .nav__item {
    padding-right: 1rem;
    display:list-item
  }
  .nav__link {
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    color: #0374c8;
  }
  .info {
    width: 80%;
    margin: 5%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .nav__list {
    text-align: center;
  }
  .footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }
  .footer__title {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    font-weight: 900;
    color: black;
  }
  .footer__link {
    padding-left: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: black;
  }
}