@import url("../vendor/normalize.css");
@import url("../vendor/fonts/Inter/inter.css");

/* :root { 
    color-scheme: light dark;
} */
.body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #fffafa; */
}
.back {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: .25;
    filter: grayscale(1);
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.page {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    justify-content: center;
}
.header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
}

.header__title {
    margin: 1rem auto;
    padding: 0;
    font-size: 2em;
    font-weight: 900;
    align-self: start;
}
.header__span {
    font-size: 1.5em;
    color: #005eb8;
}
.nav {
    max-width: 95%;
    background-color: #005eb8;
    border-radius: .25em;
    margin: 0 auto;
    box-shadow: 0 2px 3px;
}
.nav__list {
    margin: 0;
    padding: .25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav__icon {
    width: 2.5rem;
    filter: invert(1);
    transition: 1s;
}
.nav__icon:hover {
    transform: scale(1.2);
}
.section {
    width: 95%;
    margin: 1.25rem auto;
    text-align: center;
    position: relative;
}
.home {
    position: absolute;
    right: 0.25rem;
    top: 0.3rem;
    z-index: 1;
    background-color: #005eb8;
    border-radius: .25em;
    margin: 0 auto;
    padding: .1rem;
}
.home > img {
    width: 1rem;
}
.section__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
}
.section__grid_small {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
}
.article {
}
.article__title {
    padding: 0.5rem;
   /* background-color: #005eb8; */
    border: gray 1px solid;
    border-radius: .25em;
    box-shadow: 0 2px 3px;
}
.article__text {
    padding: 0.25rem;
    text-align: start;
}
.section__title {
    margin: 0;
    padding: 0;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 900;
}
.instruction {
    margin: 0;
    padding: 0;
   /* background-color: #005eb8; */
    border-radius: .25rem;
    box-shadow: 0 2px 3px;
    border: gray 1px solid;
    padding: 1rem;
    transition: .5s;
}
.instruction:hover{
    transform: scale(1.1);
}
.instruction__link {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    font-variant: small-caps;
}
.article__list {
    font-weight: 700;
    padding: 0.25rem;
    text-align: start;
    line-height: 1.5;
}
.scheme__list {
}
.scheme__link {
}
.footer {
    width: 80%;
    margin: 0 auto;
    padding: 1.5em;
    text-align: end;
}
.footer__title {
    padding: 0;
    margin: 0;
    font-size: 0.74rem;
    font-weight: 900;
    color: #005eb8;
}
@media screen and (min-wigth: 600px) {
    .home {
        display: none;
        width: .4rem;
    }
}